<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="@spacer" type="spacer" default="What to show if" label="What to show if" />
		<param name="noTranslation" type="list" default="2" label="No Translation available" description="NOTRANSLATION_HELP">
			<option value="0">Original content</option>
			<option value="1">Placeholder</option>
			<option value="2">Original with info</option>
			<option value="3">Original with alt</option>
		</param>
		<param name="defaultText" type="textarea" rows="3" cols="50" default="" label="Placeholder" description="TRANS_DEFAULT_HELP" />

		<param name="overwriteGlobalConfig" type="radio" default="1" label="Overwrite global config values" description="OVERWRITE_GLOBAL_CONFIG_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		
		<param name="@spacer" type="spacer" default="Media files" label="Media files" description="" />
		<param name="directory_flags" type="text" size="50" default="/media/com_joomfish/default/flags" label="Flags directory" description="FLAGS_DIRECTORY_HELP" />

		<param name="@spacer" type="spacer" default="Managing translations" label="Managing translations" description="" />
		<param name="storageOfOriginal" type="list" default="md5" label="Store original version as" description="MNGORIGINAL_HELP">
			<option value="md5">MD5 key only</option>
			<option value="both">MD5 key and clear text</option>
		</param>
		<param name="frontEndPublish" type="radio" default="1" label="Frontend publish" description="FEPUBLISH_HELP">
			<option value="0">Noone</option>
			<option value="1">Publishers</option>
		</param>
		<param name="frontEndPreview" type="radio" default="1" label="Inactive Language Preview Preference" description="PREVIEW_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="showDefaultLanguageAdmin" type="radio" default="0" label="Show default language in administration" description="SHOWDEFAULTLANGUAGEADMIN_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="google_translate_key" type="text" size="100" default="" label="Google translate v2 API key" description="GOOGLE_TRANSLATE_API_KEY" />			
		<param name="@spacer" type="spacer" default="Advanced Users Only" label="Advanced Users Only" description="" />
		<param name="copyparams" type="radio" default="1" label="Copy original params to empty translation" description="COPYPARAMS_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="@spacer" type="spacer" default="Caching Options" label="Caching Options for myssqli and mysql" />
		<param name="transcaching" type="radio" default="0" label="Enable translation caching" description="TRANS_CACHING_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="cachelife" type="text" cols="50" default="180" label="Cache Life in Minutes" description="TRANS_CACHELIFE_HELP" />
		<param name="@spacer" type="spacer" default="Caching Options mysql" label="Caching Options for mysql only" />
		<param name="qacaching" type="radio" default="1" label="Enable query analysis caching" description="QA_CACHING_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="qalogging" type="radio" default="0" label="Enable query analysis logging" description="QA_LOGGING_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="@spacer" type="spacer" default="User support" label="User support" />
		<param name="usersplash" type="radio" default="1" label="Show splash screen" description="USER_SPLASH_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="showPanelNews" type="radio" default="1" label="CPANEL_NEWS" description="CPANEL_NEWS_HELP">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>		
	</params>
</config>